.programms {
  margin-top: 50px;
  border-top: 1px solid #edeceb;
  padding: 80px 0 0;

  &__title {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.2px;
    color: #2b2b2b;
  }

  &__subtitle {
    max-width: 700px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #2b2b2b;
    margin-bottom: 52px;
  }

  &__block {
    margin-top: 52px;
    padding-bottom: 40px;
  }

  &__textblock {
    padding-left: 30px;
  }

  .box-title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #2b2b2b;
  }

  &__box {
    padding-bottom: 30px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.04),
      0px 8px 48px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    .box-subtitle {
      font-size: 16px;
      line-height: 22px;
      color: rgba(128, 128, 128, 0.8);
      margin-top: 12px;
    }
  }
}